.form_title {
    font-family: 'Alegreya', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;
    margin-left: 196px;
    margin-top: 78px;
}

.login_form_wrapper {
    position: absolute;
    width: 538px;
    height: 635px;
    left: 450px;
    top: 200px;
    background: #C4EDFF;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 10px black;

}

.login_form {
    position: absolute;
    top: 75px;
}

.login_form input {
    display: block;
    border: none;
    outline: none;
    background-color: #ffffff;
    width: 432px;
    height: 78px;
    margin-left: 54px;
    margin-top: 51px;
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Tibetan Machine Uni', serif;
}

.login_form input:-webkit-autofill, input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.login_form input::placeholder {
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Alegreya', serif;
    color: #DDDDDD;
}

#form_btn {
    background-color: #0000f0;
    border-radius: 50px;
    font-family: 'Alegreya', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #ffffff;
    cursor: pointer;
}

#form_btn:hover {
    background-color: #0000aa;
}

.login_helpers {
    margin-top: 553px;
    display: flex;
    margin-left: 54px;
    margin-right: 52px;
    justify-content: space-between;
    font-family: 'Tibetan Machine Uni', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #ffffff;
}

.login_helpers p {
    cursor: pointer;
}

.login_helpers p:hover {
    color: #0000f0;
}

.error {
    position: absolute;
    bottom: -27px;
    color: #FF0000;
    font-family: 'Tibetan Machine Uni', sans-serif;
    font-size: 16px;
}

.signup_form_wrapper {
    position: absolute;
    width: 538px;
    height: 961px;
    left: 451px;
    top: 28px;
    background: #C4EDFF;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 10px black;
}

.signup_form {
    position: absolute;
    top: 32px;
}

.signup_form input {
    display: block;
    border: none;
    outline: none;
    background-color: #ffffff;
    width: 432px;
    height: 78px;
    margin-left: 54px;
    margin-top: 30px;
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
    font-style: normal;
    font-family: "Tibetan Machine Uni", sans-serif;
}

.signup_form input:-webkit-autofill, input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.signup_form input::placeholder {
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Alegreya', serif;
    color: #DDDDDD;
}

.signup_helpers {
    margin-top: 860px;
    display: flex;
    margin-left: 54px;
    margin-right: 52px;
    justify-content: space-between;
    font-family: 'Tibetan Machine Uni', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #ffffff;
    cursor: pointer;
}
.signup_helpers p:hover {
    color: #0000f0;
}