@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,600&family=Montserrat:wght@500&display=swap');
body {
    box-sizing: border-box;
    background-color: #f1f6f0;
    background-image: url("assets/images/people.png");
    max-width: 1440px;
}
